@font-face {
  font-family: LatoRegular;
  font-weight: normal;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: LatoBlack;
  font-weight: normal;
  src: url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: LatoBold;
  font-weight: normal;
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: LatoLight;
  font-weight: normal;
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
