._loading-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
}

.bqUHVp {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke: #f7bd27 !important;
}

.eSmrHg, .sc-bdVaJa  {
  background: rgba(255, 255, 255, 0.5) !important;
}
