.m-datatable__pager-nav {
  .m-datatable__pager-link--last {
    background-color: #e0e8f1 !important;

    &:hover {
      background: #f7bd27!important;
    }
  }
  .m-datatable__pager-link--next {
    background-color: #e0e8f1 !important;

    &:hover {
      background: #f7bd27!important;
    }
  }
  .m-datatable__pager-link--first {
    background-color: #e0e8f1 !important;

    &:hover {
      background: #f7bd27!important;
    }
  }
  .m-datatable__pager-link--prev {
    background-color: #e0e8f1 !important;

    &:hover {
      background: #f7bd27!important;
    }
  }
}