.main-footer {
  background: #fff;
  padding: 0 21px;
  position: fixed;
  bottom: 0;
  width: 100%;
  .m-footer__copyright {
    font-family: Poppins;
    color:  #a9a9aa;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;

    a {
      &:hover {
        &:after {
          display: none;
        }
      }
      img {
        position: relative;
        margin-left: 6px;
        top: -4px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .m-stack.m-stack--flex-tablet-and-mobile {
    display: table;
  }
  .m-stack.m-stack--flex-tablet-and-mobile.m-stack--ver>.m-stack__item.m-stack__item--last {
    display: table-cell;
    text-align: left;
  }
  .m-stack.m-stack--flex-tablet-and-mobile.m-stack--ver>.m-stack__item.m-stack__item--first {
    display: table-cell;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .m-portlet {
    box-shadow: none !important;
  }
  .m-stack.m-stack--flex-tablet-and-mobile {
    display: flex;
  }
  .m-stack.m-stack--flex-tablet-and-mobile.m-stack--ver > .m-stack__item.m-stack__item--last {
    display: table-cell;
    text-align: left;
  }
  .m-stack.m-stack--flex-tablet-and-mobile.m-stack--ver > .m-stack__item.m-stack__item--first {
    display: table-cell;
    text-align: left;
  }
  .m-datatable.m-datatable--default>.m-datatable__pager>.m-datatable__pager-info {
    float: none; 
    display: block;
    margin: 10px 0 0 0;

    .m-datatable__pager-detail {
      .pager-detail__label {
        display: none;
      }
    }
  }
}