
.add-device {
  .modal-dialog {
    max-width: 1200px !important;
  }
  .vikins-select {
    margin-top: 5px;

    svg {
      top: 14px;
    }
  }
}

.sensors-body {
  .m-portlet-pb {
    box-shadow: none;

    .m-portlet__head {
      padding: 0 12px;
    }

    .m-portlet__body {
      padding: 0 12px;
    }
  }
  .nav.nav-pills, .nav.nav-tabs {
    margin-bottom: 0;
  }

  .m-content {
    padding: 16px 21px 0;
  }
}