.m-datatable__pager-info {
  .bootstrap-select {
    width: 70px !important;
  }
  .m-datatable__pager-detail {
    margin-left: 9px;
    font-family: Poppins;
    color:  #575962;
    font-size: 14px;
    font-weight: 300;
  }
}